div{
    width: 100%;
    height: 300px;
}

.div-01{ 
    background-color: grey;
}

.div-02{
    background-image:url('space.jpg');
    background-size: cover;
}



.div-03,.div-04{
    position:absolute;
    left: 0px;
    top:  600px;
}
.div-03{
    background-image:url('blue.jpg');
    background-size: cover;
}

.div-04{
    
    background-color: red;
    Opacity: 0.3;
}